---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<h1>
  {text}
</h1>

<style>
  h1 {
    font-size: 2em;
    color: red;
    padding-bottom: 0.5em;
    border-bottom: 5px solid red;
    margin-bottom: 1em;
  }
</style>
