---
import { getCollection } from 'astro:content';
import H1 from './H1.astro';

const experiences = await getCollection('experiences');
---

{
  experiences &&
    experiences.map((experience) => (
      <>
        <H1 text='Experiences' />
        <div>
          <h2>{experience.data.title}</h2>
        </div>
      </>
    ))
}

<style>
  h2 {
    color: white;
    font-size: 1.5em;
  }
</style>
