---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
import PortfolioPosts from '@repo/portfolio-josip-anic/portfolio.astro';
---

<Layout title='Portfolio - Astro Demo'>
  <Main>
    <PortfolioPosts />
  </Main>
</Layout>
