---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
import PortfolioPosts from 'portfolio-josip-anic';
---

<Layout title='Portfolio - Astro Demo'>
  <Main>
    <PortfolioPosts />
  </Main>
</Layout>
