---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
import PortfolioPosts from '@repo/portfolio-josip-anic/portfolio.astro';
---

<Layout title='Team - neno.ch'>
  <Main>
    <h1>Meet the neno team</h1>
    <PortfolioPosts />
  </Main>
</Layout>

<style>
  h1 {
    margin-bottom: 2rem;
    font-size: 4em;
    color: red;
  }
</style>
